html, body
	padding 0
	margin 0
	font-family 'DejaVu Sans Mono', 'Consolas', monospace
	background #1c1c1c
	color whitesmoke
	line-height 1.6
	font-size 0.9rem
	
@font-face {
	src: url('DejaVuSansMono.ttf')
	font-family: 'DejaVu Sans Mono'
}
	

@media screen and (min-width:801px)
	html, body
		font-size 1.1rem

body 
	display flex
	justify-content center 

h1 
	font-size 5em
	font-family 'Roboto Slab'
	font-weight 400

.line span
	display inline
	opacity 0.3	
	background #444
	padding 0.1em 0.5em
	line-height inherit
	border-radius 4px
	
a
	display inline-block
	color white
	

.content 
	flex-grow 1
	max-width 1200px
		
	.block
		padding 2rem	
	
	.things
		color #999
		b
			color whitesmoke	

	.projects
		display flex
		flex-wrap wrap
		justify-content space-between
		
		.tag
			padding 1rem
			margin-bottom 3rem
			white-space pre
			width 300px
			
			h3
				margin 0
			ul
				padding-inline-start 0
				//list-style none
			li
				margin 0.4em	
			li>a
				cursor pointer
				color whitesmoke
				padding 0 0.5em
				border-radius 4px
				text-transform lowercase
				text-decoration none
				&:not(.todo)
					background #2a2a2a
					&:hover
						background #111
				&.todo
					cursor default
			li.todo
				opacity 0.2			
				