html, body
	padding 0
	margin 0
	font-family 'DejaVu Sans Mono', 'Consolas', monospace
	background white
	line-height 1.4
	font-size 0.9rem
	position relative
	
@font-face {
	src: url('DejaVuSansMono.ttf')
	font-family: 'DejaVu Sans Mono'
}
	


@media screen and (min-width:801px)
	html, body
		font-size 1.1rem
		line-height 1.6
	.links-wrap
		position absolute
		top 20em
		left 0
		height calc(100% - 8em)
		right calc(50vw + 400px) 
	.links
		position sticky
		top calc(50vh - 6em)
		padding-top 0
		right calc(50vw + 400px) 
		flex-direction column
		height 18em

@media not screen and (min-width:801px)
	.icon
		display none

body 
	display flex
	justify-content center 

h1 
	font-size 5em
	font-family 'Roboto Slab'
	font-weight 400

a
	display inline-block
	color white
	cursor default

#footer
	position absolute
	top 0
	right 0
	opacity 0.2
	padding 1em

.content 
	flex-grow 1
	max-width 800px
	padding 2em
		
	.block
		padding 4em 0
		h2
			padding 2rem 0
			font-size 3em
			color black	
	
		&:not(:target)
			display none
			
		.technologies
			display flex
			align-items center
			.icon 
				opacity 0.2
				padding 1rem
				font-size 2em
				margin-left -3.5rem
			.items
				white-space wrap
				overflow hidden
				.technology
					display inline-block
					white-space pre
					font-size 0.9em
					padding 0 0.5rem
					margin 0.2rem
					background #eee	

		.data
			color black
			white-space pre-wrap
			font-family Noto Serif
			font-size 1.3em	
			
			a
				display inline
				color black
				text-decoration solid underline #777
				&:hover
					text-decoration solid underline black
		
			img 
				max-width 100%
			hr
				width 80%
				margin-top 2em
				margin-bottom 2em		

		.links
			display flex
			justify-content center
			align-items center
			z-index 10
			.icon
				display flex
				margin 1rem
				width 2.2rem
				height 2.2rem
				background-size 2.2rem
				padding 0.5rem
				background-position center center
				background-repeat no-repeat
				align-items center
				justify-content center
				position relative
				background-color white
				border-radius 5px
				opacity 0.5
				&:hover 
					opacity 1
				&:hover:after
					pointer-events none
					content " "
					z-index -2
					position fixed
					top 0 
					left 0
					bottom 0
					right 0
					backdrop-filter blur(3px)
						

			.deployment
				background-color white
				background-image url('link.svg')
			.repo
				background-image url('git-alt-brands.svg')
			.private
				background-image url('locked.svg')
					
			.mit
				font-weight 800
				font-size 1.5em
				cursor default