doctype html
html
	head
		script(async src="/js/index-redirection.js")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="/style/index.css")
		link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#b91d47")
		meta(name="theme-color" content="#ffffff")
		link(rel="prefetch" href="/style/projects.css")
		link(rel="prefetch" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap")
		meta(name="description" property="og:description" content="@paulll - programmer's homepage")
		meta(property="og:title" content="paulll")
		meta(property="og:url" content="https://paulll.cc/")
		meta(property="og:type" content="profile")
		meta(property="profile:username" content="paulll")
		meta(property="profile:gender" content="male")
		meta(property="og:locale" content="en_US")
		meta(property="og:locale:alternate" content="ru_RU")
		meta(property="og:image" content="https://paulll.cc/ogp-splash.webp")
		meta(property="og:image" content="https://paulll.cc/ogp-splash.png")
		title paulll
	body
		.content
			.block 
				h1 pau<span class="red">lll</span>
			.block
				h2#nojs Javascript seems to be disabled :c
				script document.getElementById('nojs').textContent='please wait..';
				noscript
					p
						.line <a href="ru">Русский</a>
						.line <a href="en">English</a>
			.proof(style="display:none;")
				a(rel="me" href="https://lor.sh/@paulll") mastodon profile