html
	head
		title paulll
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="style/index.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab")
		script(src="js/index.js")
	body
		canvas#background
		.page#first-page
			.command $ whoami
			.response
				.logo paulll
				.about -- Программист, хакер, IT-специалист.
				.keyvalue
					.key Социальное:
					.value.multiline
						a.ptr.item(href="https://github.com/paulll") github
						a.ptr.item(href="tg://resolve?domain=pauljs2") telegram
						a.ptr.item(href="https://keybase.io/paulll") keybase
				.keyvalue
					.key Языки программирования:
					.value.multiline
						.item - javascript
						.item - brainfuck
						.item - c++
						.item - python
						.item - lua
						.item - kotlin
						.item - java
				.keyvalue.sf [1]    11200 segmentation fault (core dumped)  whoami
			.command $ ls -lh projects
			.response
				for project in projects
					.project
						.left
							a.title(href=project.href)= project.name
							.tags
								for tag in project.tags
									span.tag= tag
						.right
							.description= project.desc