doctype html
html(lang="ru")
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="../style/index.styl")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
		script(defer="defer" src="../src/index.js")
		//link(rel="icon" type="image/svg" href="../style/favicon.png")
		title paulll
	body
		.content
			.block 
				h1 paulll
			.block
				h2 Hello, world!
				p 
					.line I am a full stack <span><s>junior</s> suffering from impostor syndrome</span> developer, doing things since ~11yo.
					.line Check out my awesome projects below
					.line And feel free to contact me on <a href="tg://resolve?domain=pauljs2">telegram</a>
			.block
				h2 Most recent things
				.things
					.line <b>Yajla</b> — Yet Another Japanese Learing App
					.line <b>@iqdbsearchbot</b> — Telegram bot to search by images
					.line <b>graphite</b> — Social graph analysis platform
					.lime <b>siso</b> — Automated decomposition and solution of some CTF-like tasks
					//.line <b>@chandjbot</b> — Telegram bot to organize your music library
					.line <b>ESF</b> — Evil Signup Form, just give it a try :D
					.line <b>rust-inverted-index</b> — Simple embedded inverted index database
			.block
				h2 By category
				.projects
					each projects, tag in projects_by_tag
						.tag 
							h3= tag
							ul
								each project in projects
									li= project		
