html
	head
		title paulll
		meta(charset="utf-8")
		link(rel="stylesheet" href="/style/index.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab")
	body
		.page
			.command $ ls -lAh .
			.response
				.logo 404
				.about -- страничка не найдена
				.keyvalue
					.key А не пойти бы вам..
					.value.multiline
						a.ptr.item(href="/") на заглавную
						a.ptr.item(href="https://github.com/paulll") в мой гитхаб
						a.ptr.item(href="https://google.com/?hl=xx-hacker") в гугл
